/* Regular */
@font-face {
    font-family: 'Beatrice';
    src: url('../fonts/BeatriceDeck-Regular.woff2') format('woff2'),
         url('../fonts/BeatriceDeck-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Regular Italic */
@font-face {
    font-family: 'Beatrice';
    src: url('../fonts/BeatriceDeck-RegularItalic.woff2') format('woff2'),
         url('../fonts/BeatriceDeck-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}


/* Bold */
@font-face {
    font-family: 'Beatrice';
    src: url('../fonts/BeatriceDeck-Bold.woff2') format('woff2'),
         url('../fonts/BeatriceDeck-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'Beatrice';
    src: url('../fonts/BeatriceDeck-BoldItalic.woff2') format('woff2'),
         url('../fonts/BeatriceDeck-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

/* Extra Bold */
@font-face {
    font-family: 'Beatrice';
    src: url('../fonts/BeatriceDeck-Extrabold.woff2') format('woff2'),
         url('../fonts/BeatriceDeck-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Сброс */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Применение */
body {
    font-family: 'Beatrice', sans-serif;
    line-height: normal;
}

/* Шапка сайта */
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 125px;
    padding: 0 40px;

    position: relative;
}

/* ===== ЛЕВАЯ ЧАСТЬ ===== */
.header-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* ===== МЕНЮ-КНОПКА ===== */
.icon-btn {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: #000;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-btn img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* ===== НАВИГАЦИЯ ===== */
.navigation {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navigation a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
}

/* ===== ЦЕНТРАЛЬНАЯ ИКОНКА ===== */
.center-icon {
    width: 35px;
    height: 35px;
}

/* ===== ПРАВАЯ ЧАСТЬ ===== */
.header-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* ===== КНОПКА CART ===== */
.cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 1px; 
    border-radius: 18px;
    margin-right: -45px;

    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.cart-btn img {
    width: 20px;
    height: 20px;
}

.cart-btn span {
    font-size: 12px;
    display: inline-block;
}

/* ===== КНОПКА МЕНЮ ===== */
.menu-btn {
    background: none;
    width: 26px;
    height: 16px;
}

.menu-btn img {
    width: 26px;
    height: 16px;
}

/* ===== КНОПКА SHOP ===== */
.shop-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-btn img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* ===== MAIN ===== */
.categories {
    padding: 20px 40px; 
}

.categories ul { 
    list-style: none;   
}

.categories a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.search-form {
    display: flex;
    align-items: center;

    background-color: #d9d9d9;
    width: 367px;
    height: 50px; 
    border-radius: 2px;

    margin-left: 41px;
    padding: 0 10px;
}

/* кнопка-иконка */
.search-btn {
    width: 20px;
    height: 20px;

    background: url(../images/search.svg) no-repeat center;
    background-size: 15px 15px;

    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 1px;
}

/* поле ввода */
.search-form input {
    width: 367px;
    height: 50px;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;

    text-align: right;
    padding-right: 26px;
    font-size: 12px;

    display: inline-block;
    transform: scaleX(1.1);
    letter-spacing: 1px;
}

.new-collection {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    padding: 60px 40px;
}

.collection-text h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 0.9;
}

.collection-text p {
    margin-top: 15px;
    font-size: 16px;
    color: #555;
}

.collection-text {
    display: flex;
    flex-direction: column;
    height: 376px;

}

.shop-btn-main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 250px;


    padding: 12px 14px;
    border: none;

    background-color: #d9d9d9;
    cursor: pointer;

    font-size: 14px;
}

.shop-btn-main img {
    width: 47px;
    height: auto;
    display: block;
}

.arrow-btn {
    background: none;
    border: none;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.arrow-btn img {
    width: auto;
    height: auto;
    display: block;
}

.shop-row {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: auto;
}

.arrows {
    display: flex;
    align-items: center;
    gap: 12px;
}

.collection-images {
    display: flex;
    gap: 30px;
    height: 376px;
}

.collection-images img {
    width: 366px;
    height: 376px;
}